body {
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

header {
  background: url("../images/the-flatiron-building.png");
  background-position: center;
  
  color: white;
  font-size: 18px;
} header a {
   color: white;
 }

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

#designed {
  font-size: 23px;
  color: white;
  background: url(../images/the-flatiron-building.png);
  background-position: center;
}

ul {
  list-style-type: none;
}

footer {
  font-size: 11px;
  color: white;
  text-align: left;
  background-color: dimgray;
}footer a{
  color: white;
}
